:root {
  scroll-behavior: smooth;
  --primary-theme-color: rgba(255, 0, 0, 0.288);
  --segundary-theme-color: rgba(16, 133, 12, 0.726);
  --primary-highlight-color: rgb(10, 10, 155);
  --secondary-highlight-color: gold;
}

.body {
  background-color: brown;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0%;
}

.hero {
  background-color: green;
  display: flex;
  /* Alinea en forma vertical */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/Mundo.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card {
  border-radius: 2rem;
  box-sizing: border-box;
  /* Ocultar los bordes que sobresalen  */
  overflow: hidden;
  max-width: 320px;
  margin: 0 auto;
  box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color); */
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 0 0.125rem 0.125rem var(--primary-theme-color),
   0 0 0.125rem 0.125rem var(--primary-theme-color);
}


.card--header {
  background-color: var(--primary-theme-color);
  padding: 0.25rem;
  text-align: center;

}

.card__img {
  /* border-radius: 50%; */
  /* Imagen agarre el 100% de su padre */
  width: min(100%, 256px);
  /* max-width: 256px; */
  /* Para que la imagen no varie su tamaño */
  object-fit: cover;

}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--segundary-theme-color);
  padding: 1rem;
}

.card__title {
  margin: 0;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 0.3rem var(--primary-highlight-color);
  font-size: 3rem;
}

.card__subtitles {
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
}

.card__text {
  /* margin: 5px; */
  text-align: center;
  font-size: 1rem;
}

.card__text::before {
  content: '🤘';
}
.card__text::after {
  content: '🤘';
}

.card__footer{
  
  background-color: rgba(0, 0, 255, 0.24);

}

.menu{
  color: #fff;
  /* Colocar los hijos en forma horizontal */
  display: flex;
  justify-content: center;
  /* Respetar su envoltura */
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}


.menu_link{
  display: flex;
  font-size: 2rem;
  transition: transform 0.25s;
}

.menu_link:hover{
  transform: scale(1.25);
}

@media (min-width: 768px){
  .card {
    max-width: 512px;
  }
  .card__title {
    font-size: 3.75rem;
  }
  
  .card__subtitles {
    font-size: 1.75rem;
  }
  
  .card__text {
    font-size: 1.25rem;
  }
  .menu_link{
    font-size: 3rem;
  }
}